	body {
		margin: 0;
		padding: 0;
		font-family: Helvetica, Arial, sans-serif;
		background: #000000; 
		font-size: 1em;
		line-height: 1.5em;
	}
	
	
	
	h1 {
		font-size: 2.3em;
		line-height: 2.3em;
		margin: 20px 0;
		text-align: center;
		font-weight: 300;
	}
	p {
		margin: 0 0 1.5em 0;
	}
	
		
	#main-header {
		background: #59153d;
		height: 80px;
	}
	#main-header a {
		color: #ffffff;
	}
	#logo-header {
		float: left;
		padding: 15px 0 0 20px;
		text-decoration: none;
	}
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.6em;
	}
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	nav {
		float: right;
	}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 50px;
	}
	nav ul li {
		display: inline-block;
		line-height: 80px;
	}
	#main-content {
		background: white;
		width: 200%;
		max-width: 800px;
		margin: 40px auto;
		box-shadow: 0 0 10px rgba(0,0,0,.1);
		background: #480002;/*cuadro medio*/
	}
	#main-footer {
		background: #520c0f;
		text-align: center;
		padding: 10px;
		margin-top: 10px;
	}
	#main-footer p {
		margin: 0;
	}
	#main-footer a {
		color: #ffffff;
	}
	#main-header {
		background: #9e2364;
		height: 80px;
		width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
		left: 0; /* Posicionamos la cabecera al lado izquierdo */
		top: 0; /* Posicionamos la cabecera pegada arriba */
		position: fixed; /* Hacemos que la cabecera tenga una posición fija */
	}
	body {
		margin: 0;
		padding: 0;
		font-family: Helvetica, Arial, sans-serif;
		background: #000000; 
		font-size: 1em;
		line-height: 1.5em;
		padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
	}